#eventlist-page .col-12 {
    margin-top: 1em;
}

#eventlist-page h1 {
    font-weight: 600;
    font-size: 5rem;
}

#eventlist-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    color: #3700B3;
}

#eventlist-right-btns {
    display: flex;
    flex-direction: row;
}

#eventlist-right-btns h4 {
    margin-left: 1em;
}



