#eventlist-page .col-12 {
    margin-top: 1em;
}

#eventlist-page {
    height: 100vh;
}

#eventlist-page h1 {
    font-weight: 600;
    font-size: 5rem;
}

#eventlist-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 92%;
    margin: auto;
    color: var(--mediumpurple);
}

#eventlist-right-btns {
    display: flex;
    flex-direction: row;
}

#eventlist-right-btns h4 {
    margin-left: 1em;
}

#eventlist-right-btns p {
    margin-right: 1em;
}