#eventlist-page .col-12 {
    margin-bottom: 1em;
}

#eventlist-page {
    height: 100vh;
}

#eventlist-page .sort{
    background-color: var(--pink) !important;
    color: white;
}

#eventlist-page .sort.active{
    background-color: white !important;
    color: var(--pink);
}

#eventlist-page h1 {
    font-weight: 600;
    font-size: 5rem;
}

#eventlist-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 92%;
    margin: auto;
    color: var(--mediumpurple);
}

#eventlist-page .app-page-header:hover {
    text-decoration: underline;
    color: var(--darkpurple);
}

#eventlist-page .fa-sort{
    margin-top: 1rem;
    margin-right: 1rem;
    color: var(--pink);
}
