.event-card {
    /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 0 !important;
    border-radius: 5px;
  }

.event-card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.event-card .col-3 {
  height: 100%;
  padding: 0;
}

.event-card .col-5 {
  margin: 0;
  padding: 0;
}

.event-card img {
  height: 100%;
  width: 100%;
}

.event-card .eventcard-btn {
  margin: 0 auto;
}

.eventcard-btn-col, .eventcard-attendees-col, .eventcard-content-col {
  display: flex;
  align-items: center;
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.eventcard-attendees-col {
  color: #190078;
  font-weight: 600;
}

.eventcard-content {
  padding-left: 1em;
}

.eventcard-title {
  font-weight: 600;
}