.event-card {
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 95%;
  height: 100%;
  margin: 0 auto;
  margin-bottom: 0 !important;
  border-radius: 5px;
  border-bottom: 1px solid #CCCCCC;
  background-color: var(--lightgray);
}

.landing-page {
  width: 100%;
}

.event-card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.event-card .col-3 {
  height: 100%;
  padding: 0;
}

.eventcard-btn {
  margin: auto;
  text-align: center;
  border-radius: 2rem;
  letter-spacing: 1px;
  background-color: var(--saturatedpurple) !important;
}

.eventcard-btn-col, .eventcard-attendees-col, .eventcard-content-col {
  display: flex;
  align-items: center;
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.eventcard-attendees-col {
  font-family: "Roboto";
  color: var(--darkpurple);
  font-weight: lighter;
  text-align: center;
  display: flex;
  justify-content: center;
}

.eventcard-content {
  font-family: "Roboto";
  color: black;
  padding-left: 1em;
}

.eventcard-title {
  font-family: "Roboto";
}
  
.event-card p {
  margin-top: 0.5rem;
}