#landingpage-header {
    /* margin: auto; */
    float: left;
}

#landingpage-section-1 {
    padding-top: 4em;
}

#landingpage-section-1 #landingpage-header-col {
    flex: 0 0 45%;
}

#landingpage-header {
    width: 100%;
}

#landingpage h1 {
    color: #190078;
    font-weight: 600;
    font-size: 60px;
}

#landingpage-header h3 {
    margin-bottom: 1.5em;
    color: #333333;
}

#email-signup {
    width: 350px;
    height: 232px; 
    background: #F2E7FE;
    box-shadow: 0px 0px 20px #B9B9B9, 3px 3px #FF6584;
    border-radius: 1em;
    text-align: center;
    float: left;
}

#email-signup h3 {
    padding-top: 10%;
    padding-bottom: 5%;
    color: #190078;
    font-weight: 600;
}

#email-signup .md-form {
    padding-top: 2%;
    width: 70%;
    text-align: center;
    margin: auto;
}

#email-signup-btn {
    background-color: #6202EE !important;
    border-radius: 200px;
}

.landingpage-section {
    margin-bottom: 16em;
}

.text-section {
    color: #190078;
    font-weight: 600;
    font-size: 2.7rem;
}

#text-section-2 {
    width: 70%;
}

#text-section-3 {
    width: 100%;
    float: right;
}

#text-section-4 {
    width: 100%;
}

#landingpage .col-6, .col-5, .col-7 {
    margin-bottom: 8em;
}

#landingpage .landingpage-section {
    margin-bottom: 16em;
}

#section-2-img {
    width: 440px;
    height: 320px;
    float: right;
}

#section-4-img {
    float: right;
}

#make-event-btn {
    height: 30px;
    text-align: center;
    padding: 0.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 1rem;
    background-color: #6202EE !important;
}

#event-card-description {
    margin-left: 2rem;
    margin-right: 2rem;
}

/* #landingpage .col-12 {
    margin-bottom: 3rem;
} */

#landingpage .md-addon {
    border-bottom: 1.3px solid #190078;
    color: #190078;
}

#email-signup {
    float: right;
}

.section-margin {
    margin-bottom: 10rem;
    margin-top: 10rem;
}
