.message-post {
    font-family: "Roboto";
    margin-bottom: 2rem;
}

.message-post-img {
    width: 60px;
    height: 60px;
}

.message-post-user {
    font-weight: 600;
    margin: 0 1rem 0 0;
}

.message-post-top-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.35rem;
}

.user-icon {
    width: 30px !important;
    margin-right: 0.5rem;
}

.message-post-date {
    margin: 0;
    font-size: 0.95rem;
}

.message-post-message {
    color: gray;
}

.message-icon {
    width: 45px;
    height: 45px;
    margin-right: 1rem;
}

.message-post-right-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.thumb-count {
    margin: 0;
    font-weight: bold;
    color: #757575;
    font-size: 1.2rem;
    margin-right: 2rem;
    margin-left: 1rem;
}

.message-post-main-section, .message-post-right-bar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.thumb-icon {
    padding: 0.3rem;
    transition: all 300ms ease-in-out;
    margin-right: 0.5rem;
}

.thumb-icon:hover {
    cursor: pointer;
    font-size: 2em;
    padding: 0;
}