#main-content{
    z-index: 1;
    margin-top: -3rem;
}

.tab {
    background-color: var(--pink);
    color: white;
    font-weight: bold;
}

.tab .nav-link.active{
    background-color: white;
    color: var(--pink);
    font-weight: bold;
}

.page-body {
    border-radius: 1rem 0px 1rem 1rem;
}

.nav-tabs .nav-link {
    border-radius: 1rem 1rem 0rem 0rem;
    width: 8rem;
    text-align: center;
}
