#myevents-page .col-12 {
    margin-top: 1em;
}

#myevents-page {
    height: 100vh;
}

#myevents-page .page-body {
    border-radius: 1rem 0px 1rem 1rem;
}

#myevents-page h1 {
    font-weight: 600;
    font-size: 5rem;
}

#myevents-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 92%;
    margin: auto;
    color: var(--mediumpurple);
}

#main-content{
    z-index: 1;
    margin-top: -5rem;
}

.tab {
    background-color: var(--pink);
    color: white;
    font-weight: bold;
}

.tab .nav-link.active{
    background-color: white;
    color: var(--pink);
    font-weight: bold;
}

.nav-tabs .nav-link {
    border-radius: 1rem 1rem 0rem 0rem;
    width: 8rem;
    text-align: center;
}
