.Ripple .is-reppling {
    display:none;
}
.dropdown-item {
    padding-top: 0.5rem;
}

#app-container .btn {
    background-color: var(--darkpurple) !important;
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}

i {
    padding-right: 1rem;
}