p, h4, h2{
    text-align: center;
}

h2 {
    font-weight: 500;
    font-size: 48px;
    line-height: 64px;
    color: #212529;
}

h4 {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;

}

#profile-page .app-main-section {    
    padding-top: 10em;
}

#profile-page .avatar{
    border-radius: 50%;
    height: 15em;
    display: block;
    z-index: 1;
    position: absolute;
}

#profile-page .icon{
    height: 10px;
}

#profile-page .description {
    padding: 8em 15em 4em 15em;
}

#profile-page .utilities {
    display: flex;
    padding: 0em 0em 4em 0em;
}

#profile-page .row{   
    display: flex;
    justify-content: center;}

#profile-page .btn{
    background-color: #6202EE !important;
    border-radius: 3rem;
}
