#profile-page p, #profile-page h4,  #profile-page h2{
    text-align: center;
}

#profile-page h2 {
    font-weight: 500;
    font-size: 3rem;
    line-height: 4rem;
    color: #212529;
}

#profile-page h4 {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2rem;
}

#profile-page .app-main-section {    
    padding-top: 10rem;
}

#profile-page .avatar{
    border-radius: 50%;
    height: 15rem;
    display: block;
    z-index: 1;
    position: absolute;
}

#profile-page .description {
    padding: 6rem 15rem 2rem 15rem;
}

#profile-page .utilities {
    display: flex;
    padding: 0rem 0rem 4rem 0rem;
}

#profile-page .row{   
    display: flex;
    justify-content: center;}

#profile-page .btn{
    background-color: #6202EE !important;
    border-radius: 3rem;
}
