#signup-page h1 {
    font-weight: 600;
    margin-top: 10rem;
    text-align: center;
}

#signup-page #signup-btn {
    background-color: #6202EE !important;
    border-radius: 2rem;
    width: 200px;
    letter-spacing: 0.75px;
    font-size: 1rem;
}