:root{
  --pink: #FF6584;
  --red: #FF5B5C;
  --orange: #FCA33B;
  --yellow: #FFBE17;
  --blue: #56CCF2;
  --lightpurple: #F2E7FE;
  --saturatedpurple: #6202EE;
  --mediumpurple: #3700B3;
  --darkpurple: #190078;
  --white: #ffffff;
  --lightgray: #FAFAFA;

}

h1 {
  font-size: 4rem;
}

#app-container {
  font-family: 'Red Hat Display';
  padding: 0;
}

#app-container h1, h2, h3 {
  color: var(--darkpurple);
}

#app-container .btn {
  background-color: var(--saturatedpurple) !important;
  border-radius: 2rem;
  letter-spacing: 0.75px;
  font-size: 1rem;
  font-weight: bold;
}

#app-container .form-control {
  border-bottom: 1.3px solid var(--darkpurple);
}

#app-container label {
  color: var(--mediumpurple);
  font-weight: 600;
}

.app-page {
  background-color: var(--lightpurple);
}

.page-body {
  background-color: var(--white);
  margin: auto;
  border-radius: 1rem;
  box-shadow: 0px 0px 20px #B9B9B9;
}

.app-main-section {
  width: 75%;
  margin: auto;
}

.app-page-fill {
  width: 100%;
  height: 4em;
  background: var(--lightpurple);
}

.app-page-header {
  margin-top: 5rem;
  margin-left: 4rem;
  font-weight: 600;
}

.default-avatar {
  width: 67px;
  height: 67px;
  margin-right: 1rem;
}